
<div class="col-md-8">
    <h2>moshie</h2>
    <div class="text-align">
        <div id="nameContainer">
            <input class="form-control" type="text" id="name" placeholder="nickienakie">
            <button class="btn btn-primary" id="nameBtn">Submit</button>
        </div>
        
        <input type="text" class="form-control inputMessage" placeholder="all your wishes in the world">
        <button id="send" class="btn btn-primary send">Tell the world</button>
        <div class="typing"></div>
        <table class="table table-striped">
            <tbody class="messageContainer">
            </tbody>
        </table>
    </div>
</div>

<div class="col">
    <h3>Peeps in the chat</h3>
    <div id="peepsContainer"></div>
</div>